{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 80],
    "semi": [1, "always"],
    "indent": [1, 2, { "SwitchCase": 1 }],
    "quotes": [1, "single", "avoid-escape"],
    "comma-style": [1, "last"],
    "curly": [1, "multi-line"],
    "brace-style": [1,
      "stroustrup", {
      "allowSingleLine": true
    }],
    "keyword-spacing": 1,
    "space-before-blocks": 1
  }
}
